@font-face {
  font-family: "Rawline Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Rawline Regular"), url("../fonts/rawline-400.woff") format("woff");
}

@font-face {
  font-family: "Rawline Light";
  font-style: normal;
  font-weight: normal;
  src: local("Rawline Light"), url("../fonts/rawline-300.woff") format("woff");
}

@font-face {
  font-family: "Rawline Medium";
  font-style: normal;
  font-weight: normal;
  src: local("Rawline Medium"), url("../fonts/rawline-500.woff") format("woff");
}

@font-face {
  font-family: "Rawline SemiBold";
  font-style: normal;
  font-weight: normal;
  src: local("Rawline SemiBold"), url("../fonts/rawline-600.woff") format("woff");
}

@font-face {
  font-family: "Rawline Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Rawline Bold"), url("../fonts/rawline-700.woff") format("woff");
}

@font-face {
  font-family: "Rawline ExtraBold";
  font-style: normal;
  font-weight: normal;
  src: local("Rawline ExtraBold"), url("../fonts/rawline-800.woff") format("woff");
}

@font-face {
  font-family: "Rawline Black";
  font-style: normal;
  font-weight: normal;
  src: local("Rawline Black"), url("../fonts/rawline-900.woff") format("woff");
}