@import "color_variables"
@import "fonts"

*
    margin: 0
    padding: 0

body
    margin: 0
    padding: 0
    font-family: 'Rawline Regular', sans-serif
    background: $background   
    color: $black 

button
    font-family: 'Rawline Regular', sans-serif !important