@import "src/assets/scss/color_variables";

.navbar {
  display: flex;
  justify-content: center;

  background-color: none;
  font-size: 16px;
  color: black;

  margin-top: 24px;

  position: sticky;
  top: 20px;

  .navbar_container {
    width: 100%;
    max-width: 1200px;
    margin: 0 60px;

    display: inherit;
    justify-content: space-between;
    gap: 40px;

    .navbar_logo-menu {
      display: inherit;
      align-items: center;
      gap: 40px;
      width: 100%;

      .logo_container{
        width: 100%;
        border-radius: 200px;
        background: rgba(255, 255, 255, 0.6);
        backdrop-filter: blur(8px);
        padding: 16px 32px;
      }

      .list_container {
        width: 100%;
        display: inherit;
        border-radius: 200px;
        background: rgba(255, 255, 255, 0.6);
        backdrop-filter: blur(8px);
        padding: 17px 66px;
        ul {
          display: inherit;
          gap: 40px;
          font-size: 14px;

          li {
            display: inline;
            a {
              text-decoration: none;
              color: $black;
            }
            .active {
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}

.navbar_none {
  display: none;
}
